.u-label-purple--dark {
    color: #fff;
    border-color: #6C6EB7;
    background-color: #6C6EB7;
}

.u-label-purple {
    color: #fff;
    border-color: #687CCD;
    background-color: #687CCD;
}

.u-label-cyan {
    color: #fff;
    border-color: #54baa4;
    background-color: #54baa4;
}

.u-label-orange {
    color: #fff;
    border-color: #EF7432;
    background-color: #EF7432;
}